:root {
  --laser-preview-bg-color: #111a;
  --preview-timeline-bg-color: #fff9;
  --preview-timeline-head-color: #fffd;
}

.preview-transport {
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 5rem;
  width: calc(100% - 6rem);
  height: 2rem;
  background-color: var(--laser-preview-bg-color);
  border-radius: 0.5rem;
  z-index: 10;
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.3);
}

.transport-timeline {
  position: relative;
  top: 0.9rem;
  width: calc(100% - 4rem);
  height: 0.2rem;
  background-color: var(--preview-timeline-bg-color);
  overflow: visible;
}

.transport-timeline-head {
  position: absolute;
  top: -0.4rem;
  width: 1.5rem;
  height: 1rem;
  border-radius: 0.2rem;

  background-color: var(--preview-timeline-head-color);
  cursor: pointer;
}
