* {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-size: 1.2rem;
}
html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
  color: #999;
  background-color: #111;
}

button {
  color: inherit;
  background-color: #222;
  outline: none;
  padding: 1rem;
  border: 1px solid #999;
  border-radius: 10px;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}
